* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #969696;
    padding: 10px 20px;
    
}

.logo-img {
    height: 40px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.dropdown-select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

h2{
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.container {
    margin: 5px;
}

.container img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.kata {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.info {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
}
.info p {
    margin: 5px 0;
}
.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.read-more:hover {
    background-color: #0056b3;
}